In [135]:
import pandas as pd

In [17]:
!head -n 18 /Users/msolomon/Data/schizophrenia/daner_combined_refmt_no_header.tsv

##Meta_file_format_version	0.99
##Analytic_pipeline	RICOPILI
##Analytic_pipeline_version	2017_3_1
##Comment	limited, only people who have signed 23andMe DTA
##Title	PGC primary MDD analysis
##Date	31 Jan 2017 13:26 CET
##Analyst
##Contact	Mark Daly, MGH
##Genome build	GRCh37/hg19
##Imputation reference	1000 Genomes Project, phase 3
##chromosomes	1-22 X Y XY
##Case_def	SCZ
##Control_def	no SCZ, no BIP
##Diagnosis_def	includes register and self-report data
##number of cohorts	5
##Study cohort IDs
##POP1_def	East Asian
#CHR	BP	REF	ALT	nStudy	Study	P	SCZ_AF	HC_AF	OR	SE	INFO	Qp	I2	MHT.P	Comment

In [136]:
df = pd.read_csv('/Users/msolomon/Data/schizophrenia/daner_combined_refmt.vcf', skiprows=17, delimiter='\t')

In [22]:
len(df)

13698754

In [132]:
df.head()

,#CHR,BP,REF,ALT,nStudy,Study,P,SCZ_AF,HC_AF,OR,SE,INFO,Qp,I2,MHT.P,Comment
0,8,105231413,T,C,2,+?,0.7843,0.9590,0.9600,1.01217,0.0442,0.999,1.0000,0.0,.,.
1,8,106973048,A,G,2,+-,0.4240,0.0713,0.0743,0.98531,0.0185,0.990,0.1990,-81.9,.,.
2,8,101592213,T,C,2,?-,0.3851,0.0716,0.0750,0.98167,0.0213,0.956,1.0000,0.0,.,.
3,8,102569817,A,G,2,-?,0.6736,0.0657,0.0662,0.98383,0.0387,0.885,1.0000,0.0,.,.
4,8,108690829,T,G,2,++,0.5957,0.4930,0.4940,1.00511,0.0095,0.982,0.9635,0.0,.,.

In [29]:
df.groupby(['#CHR']).count()

,BP,REF,ALT,nStudy,Study,P,SCZ_AF,HC_AF,OR,SE,INFO,Qp,I2,MHT.P,Comment
#CHR,,,,,,,,,,,,,,,
1,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898,1074898
2,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015,1155015
3,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692,971692
4,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960,992960
5,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746,871746
6,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311,922311
7,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756,803756
8,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907,748907
9,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755,595755
10,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401,695401
11,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945,668945
12,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393,666393
13,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271,499271
14,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271,455271
15,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288,402288
16,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219,427219
17,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718,372718
18,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550,384550
19,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678,314678
20,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830,297830
21,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732,184732
22,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418,192418

In [30]:
sub = df[0:10]

In [84]:
def format_variant_id(row):
    row['variant_id'] = '-'.join([str(row['#CHR']), str(row['BP']), str(row['REF']), str(row['ALT'])])
    return row
    
sub.apply(format_variant_id, axis=1)

,#CHR,BP,REF,ALT,nStudy,Study,P,SCZ_AF,HC_AF,OR,SE,INFO,Qp,I2,MHT.P,Comment,variant_id
0,8,105231413,T,C,2,+?,0.78430,0.9590,0.9600,1.01217,0.0442,0.999,1.0000,0.0,.,.,8-105231413-T-C
1,8,106973048,A,G,2,+-,0.42400,0.0713,0.0743,0.98531,0.0185,0.990,0.1990,-81.9,.,.,8-106973048-A-G
2,8,101592213,T,C,2,?-,0.38510,0.0716,0.0750,0.98167,0.0213,0.956,1.0000,0.0,.,.,8-101592213-T-C
3,8,102569817,A,G,2,-?,0.67360,0.0657,0.0662,0.98383,0.0387,0.885,1.0000,0.0,.,.,8-102569817-A-G
4,8,108690829,T,G,2,++,0.59570,0.4930,0.4940,1.00511,0.0095,0.982,0.9635,0.0,.,.,8-108690829-T-G
5,8,108681675,A,C,2,-+,0.62600,0.5370,0.5370,1.00451,0.0092,0.997,0.6790,0.0,.,.,8-108681675-A-C
6,8,103044620,T,C,2,+-,0.90880,0.8740,0.8730,0.99840,0.0144,0.949,0.1112,-18.2,.,.,8-103044620-T-C
7,8,109712249,A,AT,2,--,0.44550,0.7510,0.7510,0.99193,0.0106,0.998,0.7096,0.0,.,.,8-109712249-A-AT
8,8,106830201,T,C,2,+?,0.53210,0.0112,0.0101,1.17257,0.2548,0.977,1.0000,0.0,.,.,8-106830201-T-C
9,8,105176418,T,TTC,2,-+,0.07426,0.8140,0.8080,1.02235,0.0124,0.993,0.2270,-105.5,.,.,8-105176418-T-TTC

In [78]:
CHROMOSOMES = ['chr%s' % x for x in range(1, 23)]
CHROMOSOMES.extend(['chrX', 'chrY', 'chrM'])
CHROMOSOME_TO_CODE = { item: i+1 for i, item in enumerate(CHROMOSOMES) }


def get_single_location(chrom, pos):
    """
    Gets a single location from chromosome and position
    chr must be actual chromosme code (chrY) and pos must be integer

    Borrowed from xbrowse
    """
    return CHROMOSOME_TO_CODE[chrom] * int(1e9) + pos


def get_xpos(chrom, pos):
    """
    Borrowed from xbrowse
    """
    if not chrom.startswith('chr'):
        chrom = 'chr{}'.format(chrom)
    return get_single_location(chrom, int(pos))

def add_xpos_column(row):
    row['xpos'] = get_xpos(str(row['#CHR']), row['BP'])
    return row

sub.apply(add_xpos_column, axis=1)

,#CHR,BP,REF,ALT,nStudy,Study,P,SCZ_AF,HC_AF,OR,SE,INFO,Qp,I2,MHT.P,Comment,variant_id,xpos
0,8,105231413,T,C,2,+?,0.78430,0.9590,0.9600,1.01217,0.0442,0.999,1.0000,0.0,.,.,lol8,8105231413
1,8,106973048,A,G,2,+-,0.42400,0.0713,0.0743,0.98531,0.0185,0.990,0.1990,-81.9,.,.,lol8,8106973048
2,8,101592213,T,C,2,?-,0.38510,0.0716,0.0750,0.98167,0.0213,0.956,1.0000,0.0,.,.,lol8,8101592213
3,8,102569817,A,G,2,-?,0.67360,0.0657,0.0662,0.98383,0.0387,0.885,1.0000,0.0,.,.,lol8,8102569817
4,8,108690829,T,G,2,++,0.59570,0.4930,0.4940,1.00511,0.0095,0.982,0.9635,0.0,.,.,lol8,8108690829
5,8,108681675,A,C,2,-+,0.62600,0.5370,0.5370,1.00451,0.0092,0.997,0.6790,0.0,.,.,lol8,8108681675
6,8,103044620,T,C,2,+-,0.90880,0.8740,0.8730,0.99840,0.0144,0.949,0.1112,-18.2,.,.,lol8,8103044620
7,8,109712249,A,AT,2,--,0.44550,0.7510,0.7510,0.99193,0.0106,0.998,0.7096,0.0,.,.,lol8,8109712249
8,8,106830201,T,C,2,+?,0.53210,0.0112,0.0101,1.17257,0.2548,0.977,1.0000,0.0,.,.,lol8,8106830201
9,8,105176418,T,TTC,2,-+,0.07426,0.8140,0.8080,1.02235,0.0124,0.993,0.2270,-105.5,.,.,lol8,8105176418

In [139]:
def prepare_data(df):
    #df = df.apply(format_variant_id, axis=1)
    #df = df.apply(add_xpos_column, axis=1)    
    df = rename_columns(df)
    return df
prepared_df = prepare_data(df)

In [131]:
prepared_df.head()

,chr,pos,ref,alt,n_study,study,p_value,scz_af,hc_af,odds_ratio,se,info,qp,i_squared,mhtp,comment
0,8,105231413,T,C,2,+?,0.7843,0.9590,0.9600,1.01217,0.0442,0.999,1.0000,0.0,.,.
1,8,106973048,A,G,2,+-,0.4240,0.0713,0.0743,0.98531,0.0185,0.990,0.1990,-81.9,.,.
2,8,101592213,T,C,2,?-,0.3851,0.0716,0.0750,0.98167,0.0213,0.956,1.0000,0.0,.,.
3,8,102569817,A,G,2,-?,0.6736,0.0657,0.0662,0.98383,0.0387,0.885,1.0000,0.0,.,.
4,8,108690829,T,G,2,++,0.5957,0.4930,0.4940,1.00511,0.0095,0.982,0.9635,0.0,.,.

In [110]:
import requests
import ast

def get_query(gene_name):
    query = '''{
        gene(gene_name: "%s") {
          gene_name
          chrom
          transcript {
            exons {
              feature_type
              start
              stop
              strand
            }
          }
      }
    }''' % gene_name

    return query

def get_gene_intervals(gene_name, url='http://gnomad-api.broadinstitute.org/'):
    query = get_query(gene_name)
    headers = { "content-type": "application/graphql" }
    response = requests.post(url, data=query, headers=headers)
    parsed = ast.literal_eval(response.text)
    features = parsed['data']['gene']['transcript']['exons']
    chrom = parsed['data']['gene']['chrom']
    exons = filter(lambda feature: feature['feature_type'] == 'CDS', features)
    #intervals = map(lambda exon: '%s:%s-%s' % (chrom, exon['start'], exon['stop']), exons)
    bounds = (exons[0]['start'], exons[-1]['stop'])
    return bounds

if __name__ == '__main__':
    print(get_gene_intervals('BRCA2'))

(32890599, 32972905)

In [130]:
# -*- coding: utf-8 -*-
import pandas as pd
import json
from pymongo import MongoClient

settings = {
        'mongo_host': 'localhost',
        'mongo_db_name': 'exac',
        'mongo_port': 27017,
        'chunk_size': 100000,
        'drop_collections_on_load': True,
        'collection': 'schizophrenia',
        'file': '/Users/msolomon/Data/schizophrenia/daner_combined_refmt_change_headers.csv'
    }

def rename_columns(df):
    column_map = {
        '#CHR': 'chr',
        'BP': 'pos',
        'REF': 'ref',
        'ALT': 'alt',
        'nStudy': 'n_study',
        'Study': 'study',
        'P': 'p_value',
        'SCZ_AF': 'scz_af',
        'HC_AF': 'hc_af',
        'OR': 'odds_ratio',
        'SE': 'se',
        'Qp': 'qp',
        'I2': 'i_squared',
        'MHT.P': 'mhtp',
        'Comment': 'comment',
        'INFO': 'info'
    }
    return df.rename(columns=column_map)

def to_mongo(dest, data, idxs=[]):
    if (settings['drop_collections_on_load']):
        dest.drop()
    for chunk in data:
        dest.insert_many(json.loads(chunk.to_json(orient='records')))
    for idx in idxs:
        dest.ensure_index(idx)
        
if __name__ == "__main__":
    # establish connection:
    mongo_client = MongoClient(settings['mongo_host'],
                               settings['mongo_port'])
    mongo_db = mongo_client[settings['mongo_db_name']]

    # load data:
    data = pd.read_csv(
        settings['file'],
        # compression='gzip',
        chunksize=settings['chunk_size'],
        delimiter=',')

    # insert data:
    to_mongo(mongo_db[settings['collection']],
             data,
             ['pos'])

    # close connection:
    mongo_client.close()

/Users/msolomon/bin/miniconda3/envs/portal/lib/python2.7/site-packages/ipykernel_launcher.py:43: DeprecationWarning: ensure_index is deprecated. Use create_index instead.

In [127]:
prepared_df.to_csv('/Users/msolomon/Data/schizophrenia/daner_combined_refmt_change_headers.csv')

In [140]:
prepared_df.head()

,chr,pos,ref,alt,n_study,study,p_value,scz_af,hc_af,odds_ratio,se,info,qp,i_squared,mhtp,comment
0,8,105231413,T,C,2,+?,0.7843,0.9590,0.9600,1.01217,0.0442,0.999,1.0000,0.0,.,.
1,8,106973048,A,G,2,+-,0.4240,0.0713,0.0743,0.98531,0.0185,0.990,0.1990,-81.9,.,.
2,8,101592213,T,C,2,?-,0.3851,0.0716,0.0750,0.98167,0.0213,0.956,1.0000,0.0,.,.
3,8,102569817,A,G,2,-?,0.6736,0.0657,0.0662,0.98383,0.0387,0.885,1.0000,0.0,.,.
4,8,108690829,T,G,2,++,0.5957,0.4930,0.4940,1.00511,0.0095,0.982,0.9635,0.0,.,.

In [228]:
manhattan = (prepared_df[prepared_df['p_value'] < 0.00001][['chr', 'pos', 'p_value']]
            .rename(columns={'chr': 'chromosome', 'p_value': 'pvalue'})
            .sort_values(['chromosome']))

In [229]:
import math
manhattan['-log10p'] = manhattan['pvalue'].apply(lambda x: -math.log10(x))

In [230]:
manhattan.to_json('/Users/msolomon/lens/resources/schizophrenia-manhattan.json', orient='records')